@model DevMeetups.ViewModels.MeetupDetailsViewModel

@{
    ViewBag.Title = "Meetup details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @Model.Meetup.Developer.Name
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.Following)
        {
            <btn class="btn btn-info btn-sm">Following</btn>
        }
        else
        {
            <btn class="btn btn-default btn-sm">Follow</btn>
        }
    }
</h1>

<p>Performing at @Model.Meetup.Venue on @Model.Meetup.DateTime.ToString("d MMM") at @Model.Meetup.DateTime.ToString("HH:mm")</p>
@if (User.Identity.IsAuthenticated)
{
    if (Model.Attending)
    {
        <p>You are going to this event.</p>
    }
}